<a href="https://colab.research.google.com/github/akhileshkumbhar05-ui/beginning-bioinformatics/blob/main/notebooks/Bioinformatics_Module03.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
print("hello world")

hello world

In [2]:
# Example 1: Simple assignment
x = 10
print("Example 1: Simple Assignment")
print("x =", x)

# Example 2: Add and assign
x += 5  # Equivalent to x = x + 5
print("\nExample 2: Add and Assign")
print("x after += 5:", x)

# Example 3: Multiply and assign
x *= 2  # Equivalent to x = x * 2
print("\nExample 3: Multiply and Assign")
print("x after *= 2:", x)

Example 1: Simple Assignment
x = 10

Example 2: Add and Assign
x after += 5: 15

Example 3: Multiply and Assign
x after *= 2: 30

In [3]:
# Integer
my_integer = 10
print(f"Integer: {my_integer}, Type: {type(my_integer)}")

# Float
my_float = 10.5
print(f"Float: {my_float}, Type: {type(my_float)}")

# String
my_string = "Hello, Colab!"
print(f"String: {my_string}, Type: {type(my_string)}")

# Boolean
my_boolean_true = True
my_boolean_false = False
print(f"Boolean (True): {my_boolean_true}, Type: {type(my_boolean_true)}")
print(f"Boolean (False): {my_boolean_false}, Type: {type(my_boolean_false)}")

# List
my_list = [1, 2, 3, "four"]
print(f"List: {my_list}, Type: {type(my_list)}")

# Tuple
my_tuple = (10, 20, 30)
print(f"Tuple: {my_tuple}, Type: {type(my_tuple)}")

# Dictionary
my_dictionary = {"name": "Alice", "age": 30}
print(f"Dictionary: {my_dictionary}, Type: {type(my_dictionary)}")

# Set
my_set = {1, 2, 3, 3, 4}
print(f"Set: {my_set}, Type: {type(my_set)}")

# NoneType
my_none = None
print(f"NoneType: {my_none}, Type: {type(my_none)}")

Integer: 10, Type: <class 'int'>
Float: 10.5, Type: <class 'float'>
String: Hello, Colab!, Type: <class 'str'>
Boolean (True): True, Type: <class 'bool'>
Boolean (False): False, Type: <class 'bool'>
List: [1, 2, 3, 'four'], Type: <class 'list'>
Tuple: (10, 20, 30), Type: <class 'tuple'>
Dictionary: {'name': 'Alice', 'age': 30}, Type: <class 'dict'>
Set: {1, 2, 3, 4}, Type: <class 'set'>
NoneType: None, Type: <class 'NoneType'>

In [5]:
#Rosalind problem 1:
#Given: Two positive integers a and b, each less than 1000.
#Return: The integer corresponding to the square of the hypotenuse of the right triangle whose legs have lengths a and b.

def hypotenuse_squared(a,b):
  return a**2 + b**2
print(hypotenuse_squared(925,824))

1534601

In [7]:
# Gemini produced code:
# Function to calculate the square of the hypotenuse
def hypotenuse_squared(a, b):
  """
  Given two positive integers a and b, each less than 1000,
  return the integer corresponding to the square of the hypotenuse
  of the right triangle whose legs have lengths a and b.
  """
  return a**2 + b**2

In [8]:
# Test cases
# Test case 1: Basic test with small integers
a1, b1 = 3, 4
expected1 = 3**2 + 4**2
result1 = hypotenuse_squared(a1, b1)
print(f"Test Case 1: a={a1}, b={b1}, Expected: {expected1}, Result: {result1}")
assert result1 == expected1, f"Test Case 1 Failed: Expected {expected1}, Got {result1}"

# Test case 2: Test with different integers
a2, b2 = 5, 12
expected2 = 5**2 + 12**2
result2 = hypotenuse_squared(a2, b2)
print(f"Test Case 2: a={a2}, b={b2}, Expected: {expected2}, Result: {result2}")
assert result2 == expected2, f"Test Case 2 Failed: Expected {expected2}, Got {result2}"

# Test case 3: Test with larger integers (less than 1000)
a3, b3 = 999, 999
expected3 = 999**2 + 999**2
result3 = hypotenuse_squared(a3, b3)
print(f"Test Case 3: a={a3}, b={b3}, Expected: {expected3}, Result: {result3}")
assert result3 == expected3, f"Test Case 3 Failed: Expected {expected3}, Got {result3}"

Test Case 1: a=3, b=4, Expected: 25, Result: 25
Test Case 2: a=5, b=12, Expected: 169, Result: 169
Test Case 3: a=999, b=999, Expected: 1996002, Result: 1996002

In [9]:
name = input("Enter your name: ")
print("Hello, " + name)

Enter your name: Akhilesh
Hello, Akhilesh

In [10]:
#Modified Solution to Rosalind#1
a = int(input("Enter your first integer: "))
b = int(input("Enter your second integer: "))

def hypotenuse_squared(a,b):
  return a**2 + b**2
print(hypotenuse_squared(a,b))

Enter your first integer: 12
Enter your second integer: 13
313

In [11]:
my_list = ["Hello", "World", "Charles Darwin"]
print(my_list[1])

World

In [12]:
my_list[2] = "Alfred R. Wallace"
print(my_list)

['Hello', 'World', 'Alfred R. Wallace']

In [13]:
my_list.append("Charles Darwin")
print(my_list)

['Hello', 'World', 'Alfred R. Wallace', 'Charles Darwin']

In [14]:
# Insert 'New Item' at index 1
my_list.insert(1, "New Item")
print(my_list)

['Hello', 'New Item', 'World', 'Alfred R. Wallace', 'Charles Darwin']

In [15]:
print(my_list[2:4])

['World', 'Alfred R. Wallace']

In [16]:
my_string = "HelloWorldCharlesDarwinAlfred R. Walace"
print(my_string[0:5],my_string[5:10])

Hello World

In [17]:
print(my_string[33:], my_string[5:10])

Walace World

In [19]:
#Rosalind Problem 2: Strings and Lists:
def string_slicer(s,a,b,c,d):
  return s[a:b+1] + " " + s[c:d+1]

print(string_slicer("pXuS3iqECvgGbsyL005Nl9bqAccipiterdRxr4SXU8RBd66h7KkMR5b2qQWDnAn4ACtrYiwW3vKtRXKRCjuf3E7naQDaj4XCwwAzNsEM7354Lridibundus36l4UHe8S1bs3cVXhMDE6X889HqbMqPAFR83CDGwA1AcT4VpBfFIpZeHZHxnTL.", 24,32,109,118))

Accipiter ridibundus

In [20]:
a = 5
b = 5
if a!=b:
  print(a-b)
else:
  print(a+b)

10

In [22]:
a = 1
while a<=3:
  print("Counting!", a)
  a += 1

Counting! 1
Counting! 2
Counting! 3

In [23]:
names = ["Alice","Bob","Charlie"]
for name in names:
  print("Hello", name)

Hello Alice
Hello Bob
Hello Charlie

In [24]:
iterations = 10
for number in range(iterations):
  print(number)

0
1
2
3
4
5
6
7
8
9

In [27]:
#Task P12.2:
for number in range(9,28,3):
  print(number)

9
12
15
18
21
24
27

In [28]:
#Rosalind Problem 3: Conditions and Loops:
def odd_sum(a,b):
  sum = 0
  for num in range(a, b+1):
    if num % 2 == 1:
      sum += num
  return sum

print(odd_sum(4090, 8189))

12587000

In [30]:
with open("/content/practice.txt","r") as data:
  print(data.read())

Bravely bold Sir Robin rode forth from Camelot
Yes, brave Sir Robin turned about
He was not afraid to die, O brave Sir Robin
And gallantly he chickened out
He was not at all afraid to be killed in nasty ways
Bravely talking to his feet
Brave, brave, brave, brave Sir Robin
He beat a very brave retreat

In [34]:
with open("/content/practice.txt","r") as data:
  print(data.read())
  print(data.readline())
  print(data.readlines())

Bravely bold Sir Robin rode forth from Camelot
Yes, brave Sir Robin turned about
He was not afraid to die, O brave Sir Robin
And gallantly he chickened out
He was not at all afraid to be killed in nasty ways
Bravely talking to his feet
Brave, brave, brave, brave Sir Robin
He beat a very brave retreat

[]

In [36]:
with open("/content/practice.txt","r") as data:
  list_of_lines = data.readlines()
print(list_of_lines)

print(" ".join(list_of_lines[1:3]))

['Bravely bold Sir Robin rode forth from Camelot\n', 'Yes, brave Sir Robin turned about\n', 'He was not afraid to die, O brave Sir Robin\n', 'And gallantly he chickened out\n', 'He was not at all afraid to be killed in nasty ways\n', 'Bravely talking to his feet\n', 'Brave, brave, brave, brave Sir Robin\n', 'He beat a very brave retreat']
Yes, brave Sir Robin turned about
 He was not afraid to die, O brave Sir Robin

In [38]:
#Task P14.1
with open("/content/practice.txt","r") as data:
  list_of_lines = data.readlines()

print(" ".join(list_of_lines))

Bravely bold Sir Robin rode forth from Camelot
 Yes, brave Sir Robin turned about
 He was not afraid to die, O brave Sir Robin
 And gallantly he chickened out
 He was not at all afraid to be killed in nasty ways
 Bravely talking to his feet
 Brave, brave, brave, brave Sir Robin
 He beat a very brave retreat

In [39]:
#file_looping.py:
#Task P15.1
with open("/content/practice.txt","r") as data:
  for line in data:
    print(line)

Bravely bold Sir Robin rode forth from Camelot

Yes, brave Sir Robin turned about

He was not afraid to die, O brave Sir Robin

And gallantly he chickened out

He was not at all afraid to be killed in nasty ways

Bravely talking to his feet

Brave, brave, brave, brave Sir Robin

He beat a very brave retreat

In [43]:
#Task P15.1
with open("/content/practice.txt","r") as data:
  for line in data:
    print(line.rstrip())

Bravely bold Sir Robin rode forth from Camelot
Yes, brave Sir Robin turned about
He was not afraid to die, O brave Sir Robin
And gallantly he chickened out
He was not at all afraid to be killed in nasty ways
Bravely talking to his feet
Brave, brave, brave, brave Sir Robin
He beat a very brave retreat

In [47]:
#Rosalind Problem 4: Working with Files:
with open("/content/rosalind_ini5.txt","r") as data:
  list_lines = data.readlines()
  for ind, line in enumerate(list_lines, start = 1):
    if ind % 2 == 0:
      print(line.strip())

Some things in life are bad, they can really make you mad
Other things just make you swear and curse
When you're chewing on life's gristle, don't grumble give a whistle
This will help things turn out for the best
Always look on the bright side of life
Always look on the right side of life
If life seems jolly rotten, there's something you've forgotten
And that's to laugh and smile and dance and sing
When you're feeling in the dumps, don't be silly, chumps
Just purse your lips and whistle, that's the thing
So, always look on the bright side of death
Just before you draw your terminal breath
Life's a counterfeit and when you look at it
Life's a laugh and death's the joke, it's true
You see, it's all a show, keep them laughing as you go
Just remember the last laugh is on you
Always look on the bright side of life
And always look on the right side of life
Always look on the bright side of life
And always look on the right side of life

In [48]:
#task P16.1:
with open("/content/practice5.txt","r") as data:
  line = data.read()

for word in line.split():
  print(word)

We
tried
list
and
we
tried
dicts
also
we
tried
Zen

In [49]:
#P17.1
sequences ={
    "H.neandertalensis" : "ACGTCGCTCTGCTA",
    "H.sapiens" : "ACGTCACTCTGCTA"
}
print(sequences)

{'H.neandertalensis': 'ACGTCGCTCTGCTA', 'H.sapiens': 'ACGTCACTCTGCTA'}

In [50]:
#P18
sequences["P.troglodytes"] = "ACGTCACTCTCCTA"
sequences.update({"G.gorilla":"ACGTCCTCCTA", "H.erectus":"ACGTCACTCTGCTA"})

In [51]:
print(sequences["H.sapiens"])

ACGTCACTCTGCTA

In [52]:
for key,value in sequences.items():
  print(key,value)

H.neandertalensis ACGTCGCTCTGCTA
H.sapiens ACGTCACTCTGCTA
P.troglodytes ACGTCACTCTCCTA
G.gorilla ACGTCCTCCTA
H.erectus ACGTCACTCTGCTA

In [53]:
with open("sequences.fasta", "w") as f:
    for name, seq in sequences.items():
        f.write(f">{name}\n{seq}\n")

In [58]:
#Rosalind Problem 5: Dictionaries:
with open("/content/rosalind_ini6(2).txt","r") as data:
  line = data.read()
words = dict()
for word in line.split():
  if word in words:
    words[word] += 1
  else:
    words[word] = 1
for key,value in words.items():
  print(key, value)

When 1
I 2
find 1
myself 1
in 4
times 1
of 11
trouble 1
Mother 2
Mary 2
comes 2
to 3
me 4
Speaking 3
words 7
wisdom 7
let 30
it 36
be 41
And 3
my 1
hour 1
darkness 1
she 1
is 4
standing 1
right 1
front 1
Let 6
Whisper 4
when 2
the 4
broken 1
hearted 1
people 1
living 1
world 1
agree 1
There 4
will 5
an 4
answer 4
For 1
though 1
they 2
may 1
parted 1
there 2
still 2
a 2
chance 1
that 2
see 1
night 1
cloudy 1
light 1
shines 1
on 1
Shine 1
until 1
tomorrow 1
wake 1
up 1
sound 1
music 1
yeah 2

In [59]:
with open("/content/practice6.txt","r") as data:
  genom = data.read()
print(genom.count("A"), genom.count("C"), genom.count("G"), genom.count("T"))

20 12 17 21

In [60]:
#Rosalind Problem 6: Counting DNA Nucleotides:
with open("/content/rosalind_dna.txt","r") as data:
  genom = data.read()
print(genom.count("A"), genom.count("C"), genom.count("G"), genom.count("T"))

205 226 211 246

In [66]:
#19.2
#Rosalind Problem 5: Dictionaries Modified:
with open("/content/rosalind_ini6(2).txt","r") as data:
  line = data.read()
words = dict()
for word in line.split():
  if word not in words:
    words[word] = line.count(word)
  else:
    words[word] += 1
for key,value in words.items():
  print(key, value)

When 1
I 3
find 1
myself 1
in 15
times 1
of 21
trouble 1
Mother 3
Mary 3
comes 3
to 6
me 10
Speaking 5
words 13
wisdom 13
let 59
it 71
be 81
And 5
my 2
hour 1
darkness 1
she 1
is 18
standing 1
right 1
front 1
Let 11
Whisper 7
when 3
the 13
broken 1
hearted 1
people 1
living 1
world 1
agree 1
There 7
will 9
an 13
answer 7
For 1
though 1
they 3
may 1
parted 1
there 3
still 3
a 28
chance 1
that 3
see 1
night 1
cloudy 1
light 1
shines 1
on 2
Shine 1
until 1
tomorrow 1
wake 1
up 1
sound 1
music 1
yeah 3